
.rowColorRed{
    //background-color: red !important;
    background-image: none !important;
    color: blue !important;
}

.rowColorBlue{
    //background-color: blue !important;
    background-image: none !important;
    color: blue !important;
}

html{
    width: 99.6%;
    height: 98.3%;
    margin-left: 0.2%;
    overflow: auto;
}

.hardBreak{
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    word-break: normal;
    hyphens: auto;
    overflow-wrap: normal;
    text-wrap: normal;
}



body{
    width: 99%;
    height: 99%; 
    margin-left: 0.5%;
}


.home {
    /*background-image: url("resources/images/dock/home.png");*/
}

#HomeMiddleDivsContainer{
    height: 700px;
}

#content{    
    border-bottom: none;
    border-top:none;
    width: 100%;
    height: 80%;
    overflow: auto;
}
#loginLogo{
    width: 10px;
    height: 15px;
}
#navbar{
    width:133px;
    text-align:center;
    height:30px;
    line-height:30px;
    font-size: 20px !important;


}
#menu{
    border-bottom: none; 
    text-transform: capitalize;
    width: 100%;
    height: 5%;
}

.navbar li{border:1px solid black;}


/* Header css*/
#header{
    width: 100%;
    height: 10%;
    border-radius: 5px 5px 0 0;
    background-color: #3279ca;
}

#header > div {
    float:left;
    height:70px;
}




#medicallogodiv{
    width: 5%;         
    margin-top: 0.2%;
}


#batrapilogodiv{
    width: 5%;
    margin-left: 1%;    
    margin-top: 0.2%;    
}

#batrapilogo{
    width: 100%;
    height: 100%;
}

#medicallogo{
    width: 100%;
    height: 100%;    
}

/* body css*/

#HomeImagesDiv{

    font-size: 18px;
    text-align: justify;
    border: solid 1px;

}

#HomeImagesDiv >div{
    float: left;
}
#HomeImage1,#HomeImage3{
    border: solid 1px;
    height: 200px;
    width: 418px;  
    border: solid 1px;
}
#HomeImage2{
    height: 200px;
    width: 431px;
    margin-left: 11px;
    margin-right: 11px;
    border: solid 1px;
}


body{
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}

#footer{
    border-radius: 0 0 5px 5px;
    background-color: #3279ca;
    width: 100%;
}

/*The panels below header*/
#links{
    height:20px;
    width: 1330px;
    border: 1px solid black;
    margin-bottom: 3px;
}
#j_idt57_header,#menuForm > div{
    //background-image:url(images/panel.png);
}


/*online service css*/

#onlineMiddleDivsContainer{
    height: 450px;
}
#online3Divs{
    font-size: 18px;
    text-align: justify;  
}
#online3Divs >div{
    float: left;
}
#onlineDiv1,#onlineDiv3{
    height: 400px;
    width: 420px;           
}
#onlineDiv2{
    height:400px;
    width: 439px;
    margin-left: 11px;
    margin-right: 10px;

}

/* about Us css */

#aboutUsMiddleDivsContainer{
    border: 1px solid black;
    height: 450px;
}
#aboutUs3Divs{
    font-size: 18px;
    text-align: justify;  
}
#aboutUs3Divs >div{
    float: left;
}
#aboutUsDiv1,#aboutUsDiv3{
    height: 400px;
    width: 420px;           
}
#aboutUsDiv2{
    height: 400px;
    width: 439px;
    margin-left: 11px;
    margin-right: 10px;
    border:1px solid black;
}

/* longin css */

#LoginMiddleDivsContainer{
    border: 1px solid black;
    height: 450px;
}
#Login7Divs{
    font-size: 18px;
    text-align: justify;  
}
#Login7Divs >div{
    float: left;
}
#LoginDiv1,#LoginDiv3{
    height: 400px;
    width: 130px;     
}
#LoginDiv2,#LoginDiv4{
    height: 400px;
    width: 130px;
    margin-left: 5px; 
}
#BeforeLoginDiv{
    height: 400px;
    width: 200px;
}
#AfterLoginDiv{
    height: 400px;
    width: 200px;
}
#login{
    height: 400px;
    width: 355px;
    margin-right: 5px;
    border:3px solid black;
}

.enterText{
    margin-bottom: 40px;
    width: 150px;
    border-radius: 10px;
}
#loginBelow{
    height: 20px;
    width: 130px;
    margin-left: 109px;
    margin-top: 20px;
    text-align:center;
    border:2px solid black;
    margin-bottom: 30px;
}

#forgotpassword{
    height: 20px;
    width: 150px;
    margin-left: 100px;
    margin-left: 100px;
    margin-top: 20px;
    text-align:center;
    border:2px solid black;
    margin-bottom: 30px;
}

#language{

    font-size: 15px;
    background-image:url(images/panel.png);
    text-transform: uppercase;
    margin-left:30px;
}

/*  The main contain */
#page{
    width: 90%;
    height: 100%;
    margin: 0 auto;
    border-left: solid 1px;
    border-right: solid 1px;
    border-bottom: solid 1px;
    border-radius: 5px 5px 5px 5px;
}

/*Only for Menu*/
.ui-menu {
    width:150px;
    padding:0.3em;
    position:relative;
}

.ui-menu.ui-menu-dynamic {
    position: absolute;
    display: none;
    z-index: 100000;
}

.ui-menu-list {
    position:static;

}

.ui-menu .ui-menu-list .ui-menuitem {
    border:none;


}

.ui-menu .ui-menu-list .ui-widget-header {
    clear:both;
    float:left;
    width:98%;
    margin:1px 0;


}

.ui-menu .ui-menuitem {
    width:100%;
    float:left;
    clear:both;
    margin:1px 0;
    padding:0;

}

.ui-menu .ui-menuitem-parent {
    width:100%;
    float:left;
    clear:both;
    margin:1px 0;
    padding:0;
}

.ui-menu .ui-menuitem-link {
    display:block;
    width:92%;
    outline:none;
    text-decoration:none;
    font-weight:400;
    border:solid 1px transparent;
    float:left;
    line-height:16px;
    padding:0.3em;

}


.ui-menu .ui-menuitem-link .ui-menuitem-icon {
    display:inline-block;
    float:left;
}

.ui-menu .ui-menuitem-text {
    float:left;
}

.ui-menu .ui-widget-header h1,
.ui-menu .ui-widget-header h2,
.ui-menu .ui-widget-header h3,
.ui-menu .ui-widget-header h4,
.ui-menu .ui-widget-header h5,
.ui-menu .ui-widget-header h6 {
    float:left;
    display:block;
    font-size:1em;
    margin:0 auto;
    padding:0.3em 3%;

}

.ui-menu .ui-menu-parent .ui-menu-child  {
    display:none;
    width:14.5em !important;
    padding:0.3em;
    position:absolute;
    margin:0; 
    outline:0; 
    line-height:1.3; 
    text-decoration:none; 
    font-size:100%; 
    list-style:none;
    background-color: #D32C2 !important;
}

.ui-menu .ui-menu-parent {
    position:relative;
}
li a:hover{
    background-color: transparent !important;
    border-style: solid;
}

.ui-menu .ui-menu-parent .ui-icon-triangle-1-e,
.ui-menu .ui-menu-parent .ui-icon-triangle-1-s,
.ui-menubar .ui-menu-child .ui-icon-triangle-1-s,
.ui-menubar .ui-menu-child .ui-icon-triangle-1-s {
    float:right;
}

.ui-menubutton {
    padding:0;
}

.ui-menubutton .ui-button {
    margin:0;
}

/** Menubar **/
.ui-menubar {
    width:auto;
}

.ui-menubar .ui-menuitem {
    width:auto;
    clear:none;
    margin-right:3px;

}
.navbar .ui-menuitem-text{/*color: white; */font-size: 15px; }
/* Dropdown menu Navigation bar*/
.ui-menubar .ui-menu-child .ui-menuitem a{
    width:98%;
}
.ui-menubar .ui-menu-child {
    top:25px;
    left:0;
}

.ui-menubar .ui-menuitem-link {
    width:auto;
    padding:0.4em 0.3em;
    font-weight: bold;
}

.ui-menubar .ui-menu-child .ui-menuitem-link {
    width:92%;

}

.ui-menubar .ui-widget-header {
    clear:none;
    width:auto;
    margin:0 3px 0 0;

}

.ui-menubar .ui-widget-header h1,
.ui-menubar .ui-widget-header h2,
.ui-menubar .ui-widget-header h3,
.ui-menubar .ui-widget-header h4,
.ui-menubar .ui-widget-header h5,
.ui-menubar .ui-widget-header h6 {
    padding:0.4em 0.3em;

}

/*IE7 hack*/
.ui-menubar > .ui-menu-list > .ui-menuitem > .ui-menuitem-link span.ui-icon-triangle-1-e,
.ui-menubar > .ui-menu-list > .ui-menuitem > .ui-menuitem-link span.ui-icon-triangle-1-s{
    *float: none;
}

.ui-menu .ui-separator {
    width:98%;
    height:0px;
    float:left;
    clear:both;
    margin:1px 0 0 0;
    padding:0;
    border-top: 0px none;
}

/** MegaMenu **/
.ui-megamenu td {
    vertical-align: top;
}

.ui-menu.ui-megamenu .ui-menu-parent .ui-menu-child {
    width:auto;
}

.ui-menu.ui-megamenu .ui-menu-child > table {
    width:auto;
}

.ui-menu.ui-megamenu .ui-menu-child .ui-menu-list {
    width: 150px;
}

/** Breadcrumb **/
.ui-breadcrumb {
    margin: 0;
    padding: 0;
    overflow: hidden;
    padding: 5px 5px 7px 5px;
}

.ui-breadcrumb ul {
    margin: 0;
    padding: 0;
    display: block;
    width:5000px;
}

.ui-breadcrumb ul li {
    display: block;
    float: left;
    position: relative;
    overflow: hidden;
}

.ui-breadcrumb ul li span {
    display: block;
    overflow: hidden;
}

.ui-breadcrumb ul li a {
    display: block;
    position: relative;
    overflow: hidden;
    float: left; 
    *cursor: pointer;
    margin-top:3px;
}

.ui-breadcrumb ul li a.ui-icon-home {
    padding: 0;
    margin-top: 1px;
    overflow: hidden;
}

.ui-breadcrumb-chevron{
    float:left;
    margin-top:2px;
}

/** SlideMenu **/
.ui-slidemenu .ui-slidemenu-wrapper {
    position: relative;
}

.ui-slidemenu .ui-slidemenu-content {
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
}

.ui-slidemenu .ui-menu-list {
    position: absolute;
    top: 0;
}

.ui-slidemenu .ui-menu-parent {
    position: static;
}

.ui-slidemenu .ui-menu-child {
    box-shadow : none;
    border: 0 none;
    background: none repeat scroll 0 0 transparent;
}

.ui-slidemenu-backward {
    position: absolute;
    bottom: 0;
    width: 95%;
    margin-bottom: 0.4em;
    padding: 0.2em;
    cursor: pointer;
    display: none;
}

.ui-slidemenu-backward .ui-icon {
    float:left;
}

/*Edited by Pat Bat*/

#HeaderMiddlediv{    
    text-align: center;
    width: 88%;
}


#HeaderMiddlediv  h1 a .logo_colour,#footer  h1 a .logo_colour { 
    text-decoration: none;
    position:relative;
    color: white;
    display: block;
    font-size: 27px;
    font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif;
    text-shadow: 0 1px 0 #A5F900, 
        0 2px 0 #EAFF54, 
        -1px 3px 0 #B42820, 
        -1px 4px 0 #C41740, 
        -2px 5px 0 #11C500, 
        -2px 6px 0 #117400, 
        -2px 7px 2px rgba(254, 254, 254, 0.6), 
        -2px 7px 8px rgba(254, 254, 254, 0.2), 
        -2px 7px 45px rgba(254, 254, 254, 0.4);
}

#HeaderMiddlediv a:hover .logo_colour,#footer a:hover .logo_colour { 
    color: #000;
    display: block;
    font-size: 27px;
    font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif;
    text-shadow: 0 1px 0 #009F5A, 
        0 2px 0 #45FFAE, 
        -1px 3px 0 #018247, 
        -1px 4px 0 #007341, 
        -2px 5px 0 #005C36, 
        -2px 6px 0 #004728, 
        -2px 7px 2px rgba(0, 0, 0, 0.6), 
        -2px 7px 8px rgba(0, 0, 0, 0.2), 
        -2px 7px 45px rgba(0, 0, 0, 0.4);
}